# Analiza i Bazy Danych - Lab 2
### Maciej Wieloch, 303080, gr. 1a

Zestaw danych:

(7 % 5 + 1 = 3)

billboard.csv - notowania billboardu (w tabeli jest data wejścia na listę i ranking w kolejnych tygodniach, nie da się wprost odczytać rankingu w danym tygodniu kalendarzowym i jest dużo pustych miejsc)

Na początku importuję bibliotekę pandas, odczytuję zadany zestaw danych i wyświetlam 10 pierwszych rekordów.

In [57]:
import pandas as pd

df = pd.read_csv(r'../Original Data/billboard.csv', encoding='ANSI')

df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Następnie, staram się uporządkować dane zgodnie z zasadami "tidy data".

Korzystając z pd.melt, tworzę kolumny week i rank, które znacząco ułatwią odczyt danych.

Na koniec tworzę tabele, sortując je na różne sposoby.

In [58]:
# Wczytuje baze danych
df = pd.read_csv(r'../Original Data/billboard.csv', encoding='ANSI')

# Procedura pd.melt
df = pd.melt(df, id_vars=list(df.columns)[:6], value_vars=list(df.columns)[7:],
             var_name='week', value_name='rank')

# Zapisuję tabelę po procedurze pd.melt
df.to_csv(r'../Analysis Data/billboard-melt.csv', index=False)

# Wybieranie tygodnia
df['week'] = df['week'].str[1:-7].astype(int)
df = df.rename(columns={'date.entered': 'date'})

# Czysczenie niepotrzebnych wierszy
df = df.dropna()

# Sortowanie wierszy
df2 = df.sort_values(by=['track', 'date'])
df3 = df.sort_values(ascending=False, by=['week', 'rank'])
df4 = df.sort_values(by=['time'])

# Resetowanie indeksów
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)
df4 = df4.reset_index(drop=True)

Zapisuje i wyświetlam utworzone tabele.

In [59]:
df2.to_csv(r'../Analysis Data/billboard-track-date.csv', index=False)
df2.to_csv(r'../Documents/billboard-track-date.csv', index=False)
df2

,year,artist.inverted,track,time,genre,date,week,rank
0,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,1,100.0
1,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2,99.0
2,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,3,96.0
3,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,4,76.0
4,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,5,55.0
...,...,...,...,...,...,...,...,...
5302,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,11,63.0
5303,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,12,67.0
5304,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,13,77.0
5305,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,14,89.0
5306,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,15,99.0

In [60]:
df3.to_csv(r'../Analysis Data/billboard-week-rank.csv', index=False)
df3.to_csv(r'../Documents/billboard-week-rank.csv', index=False)
df3

,year,artist.inverted,track,time,genre,date,week,rank
0,2000,Creed,Higher,5:16,Rock,1999-09-11,65,49.0
1,2000,Lonestar,Amazed,4:25,Country,1999-06-05,64,50.0
2,2000,Creed,Higher,5:16,Rock,1999-09-11,64,50.0
3,2000,Creed,Higher,5:16,Rock,1999-09-11,63,50.0
4,2000,Lonestar,Amazed,4:25,Country,1999-06-05,63,45.0
...,...,...,...,...,...,...,...,...
5302,2000,"Elliott, Missy ""Misdemeanor""",Hot Boyz,3:51,Rap,1999-11-27,1,36.0
5303,2000,"Carey, Mariah",Crybaby,5:19,Rock,2000-06-24,1,28.0
5304,2000,Pink,There U Go,3:23,Rock,2000-03-04,1,25.0
5305,2000,Hanson,This Time Around,4:14,Country,2000-04-22,1,22.0
5306,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,1,15.0

In [61]:
df4.to_csv(r'../Analysis Data/billboard-time.csv', index=False)
df4.to_csv(r'../Documents/billboard-time.csv', index=False)
df4

,year,artist.inverted,track,time,genre,date,week,rank
0,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,3,59.0
1,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,4,54.0
2,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,12,67.0
3,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,15,99.0
4,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,7,47.0
...,...,...,...,...,...,...,...,...
5302,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,1,89.0
5303,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,2,89.0
5304,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,4,8.0
5305,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,5,66.0
5306,2000,Kenny G,Auld Lang Syne (The Millenium Mix),7:50,Jazz,1999-12-25,3,7.0