In [44]:
import pandas as pd

df = pd.read_csv(r'../Original Data/billboard.csv')

df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
# Wczytuje baze danych
df = pd.read_csv(r'../Original Data/billboard.csv')

# Procedura pd.melt
df = pd.melt(df, id_vars=list(df.columns)[:6], value_vars=list(df.columns)[7:],
             var_name='week', value_name='rank')

# Wybieranie tygodnia i sortowanie
df['week'] = df['week'].str[1:-7].astype(int)
df = df.rename(columns={'date.entered': 'date'})

df = df.dropna()

df = df.sort_values(by=['track', 'date'])

df

,year,artist.inverted,track,time,genre,date,week,rank
47,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,1,100.0
364,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2,99.0
681,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,3,96.0
998,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,4,76.0
1315,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,5,55.0
...,...,...,...,...,...,...,...,...
3336,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,11,63.0
3653,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,12,67.0
3970,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,13,77.0
4287,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,14,89.0
4604,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,15,99.0